@import url('https://fonts.googleapis.com/css2?family=Libertinus+Math&family=Tangerine:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libertinus+Math&family=Poiret+One&family=Tangerine:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+SA:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+AU+SA:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libertinus+Math&family=Poiret+One&family=Tangerine:wght@400;700&display=swap');
/*header---------------------------------------------*/




$verde: #292E1E;
$crema: #B3A696;
$cremaosc: #7A6B5E;
$blanco: #f5f5f5;
$fonth1: "Tangerine", cursive;
$fonthead: "Playfair Display", serif;
$fontmain: "Lato", sans-serif;
$fontlink: Arial, Helvetica, sans-serif;

